body {
  text-align: center;
  background-color: #3F51B5;
  color:#FFFFFF ;
}

#board {
  margin: 0 auto;
  max-width: 350px;

  }
#turn{
  color:#FF5722;
}

table {
  text-align: center;
  /*margin-left: auto;*/
  /*margin-right: auto;*/

}

.square { 
  width: 120px;
  height: 120px;
  font-size: x-large;
  
  border-collapse: collapse;

 }

table {
  border-collapse: collapse;

}

table td {
  border: 1px solid #B6B6B6;
}

.v {
  border-right: none;
}
 /*.v {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
 }

 .h {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000 ;
 }*/

